@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap');



body{
    background-image: url(images/kaer\ morden.jpg);
    font-family: 'Red Hat Display', sans-serif;
}

.card{
    border-radius: 15px;
    background-color: white;
    opacity: 90%;
    display: flex;
    justify-content: center;
    height: 900px;
    width: 1500px;
    margin: 20px;
    margin-left: 150px;
}

.img{
    margin: 20px;
}

.img img{
    height: 860px;
}

.title{
    font-size: 50px;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: bold;
}

.rivia img{
    width: 30px;
}
.nasc_desc{
    display: flex;
}
.nasc{
    font-size: 30px;
    padding-left: 15px;
}



.biog{
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
}


.sinais_img img:hover{
    width: 90px;
    height: 110px;
}

.sinais_img img{
    width: 70px;
    height: 90px;
}

.armas{
    display: flex;

}

.armas img{
    width: 110px;
    height: 110px;
}

.armas div{
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    padding-right: 10px;
    
}

.sub_title{
    font-size: 20px;
    padding-top: 15px;
    font-weight: bold;
    text-decoration: underline;
}